@page
@model WInnovator.Pages.DesignShopsWorkingForms.EditModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bewerken</title>
</head>
<body>

    <h4>DesignShopWorkingForm</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="DesignShopWorkingForm.Id" />
                <div class="form-group">
                    <label asp-for="DesignShopWorkingForm.DesignShopId" class="control-label"></label>
                    <select asp-for="DesignShopWorkingForm.DesignShopId" class="form-control col-md-4" asp-items="ViewBag.DesignShopId"></select>
                    <span asp-validation-for="DesignShopWorkingForm.DesignShopId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DesignShopWorkingForm.WorkingFormId" class="control-label"></label>
                    <select asp-for="DesignShopWorkingForm.WorkingFormId" class="form-control col-md-4" asp-items="ViewBag.WorkingFormId"></select>
                    <span asp-validation-for="DesignShopWorkingForm.WorkingFormId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DesignShopWorkingForm.DisplayName" class="control-label"></label>
                    <input asp-for="DesignShopWorkingForm.DisplayName" class="form-control col-md-4" />
                    <span asp-validation-for="DesignShopWorkingForm.DisplayName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DesignShopWorkingForm.Implementer" class="control-label"></label>
                    <input asp-for="DesignShopWorkingForm.Implementer" class="form-control col-md-4" />
                    <span asp-validation-for="DesignShopWorkingForm.Implementer" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DesignShopWorkingForm.TimeAllocated" class="control-label"></label>
                    <input asp-for="DesignShopWorkingForm.TimeAllocated" class="form-control col-md-2" />
                    <span asp-validation-for="DesignShopWorkingForm.TimeAllocated" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DesignShopWorkingForm.PhaseId" class="control-label"></label>
                    <select asp-for="DesignShopWorkingForm.PhaseId" class="form-control col-md-4" asp-items="ViewBag.PhaseId"></select>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="DesignShopWorkingForm.UploadEnabled" /> @Html.DisplayNameFor(model => model.DesignShopWorkingForm.UploadEnabled)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="DesignShopWorkingForm.Resume" class="control-label"></label>
                    <textarea asp-for="DesignShopWorkingForm.Resume" rows="15" class="form-control col-md-12"></textarea>
                    <span asp-validation-for="DesignShopWorkingForm.Resume" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DesignShopWorkingForm.Description" class="control-label"></label>
                    <textarea asp-for="DesignShopWorkingForm.Description" rows="15" class="form-control col-md-12"></textarea>
                    <span asp-validation-for="DesignShopWorkingForm.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DesignShopWorkingForm.Order" class="control-label"></label>
                    <input asp-for="DesignShopWorkingForm.Order" class="form-control" />
                    <span asp-validation-for="DesignShopWorkingForm.Order" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="DesignShopWorkingForm.IsCurrentWorkingForm" /> @Html.DisplayNameFor(model => model.DesignShopWorkingForm.IsCurrentWorkingForm)
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Opslaan" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="./Index">Terug naar de overzichtspagina</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <script src="~/js/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
        <script src="~/js/tm.js"></script>
    }
</body>
</html>
